.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    height: 100vh;
    transition:  all 300ms ease;
    background-color: #2d9c7b;
}
.Logo{
    display:flex;
    font-weight: bold;
    height: 5rem;
    font-size: 22px;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
  
    
}
.Logo>span{
    color: #7dff04;
}
.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.menuItem{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
    height: 3.5rem;
    margin-left: 3rem;
    position: relative;
    transition:  all 300ms ease;
    font-size: 20px;
    border-radius:0.7rem;
}
.menuItem:hover{
    cursor: pointer;
}
.active{
    background-color: #f7e0b6;
    margin-left:0;
    color: purple;
}
.active::before{
    content:'';
    width:8px;
    height:100%;
    background-color: purple;
    
}