
.GuideMain{
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GuideHome{
    display:grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 22rem auto;
    background-color: #fff;
   border-radius: 1rem;
}
.content {
  position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
  
