.hotelCityDetailModal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 2.5rem;
  transform: translate(-50%, -50%);
  background-color: #ece9e9;
  padding: 20px;
  min-width: 80%;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 3;
}
.hotelCityDetailModal::-webkit-scrollbar{
  height: 0.5em;
}

.hotelCityDetailOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.hotelList {

  display: flex;
  flex-wrap: wrap;
}
.modalHeader{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.bar{
  height:1rem;
  width:100%;
  background-color:purple;
}
.closeIcon{
  color:red;
  font-size:30px;
  cursor:pointer;
  margin-bottom:5px;
  width: 50px;
  border:none;
}
.hotelCard {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color:white;
  border-radius: 8px;
}

.hotelCardImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.hotelText {
  display: flex;
  flex-direction: column;
}

.hotelCardName {
  font-weight: bold;
  font-size:20px;
  margin-bottom: 5px;
  color:green;
}

.price {
  margin-top: 10px;
  font-weight:bold;
  font-size:25px;
}
.htype{
  font-weight:bold;
  color:blue;
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:15px;
}
.button {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
