/* Destination.css */

.MainDestination {
    /* Add styling to center the content and add some spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 1024px;
  }
  
  .Logo {
    color: #0afa5a;
  }
  
  .TopNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    background-color: #fff;
  }
  
  .SearchContainer {
    /* Add styling for the search input */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
  }
  
  .SearchContainer input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
    margin-right: 5px;
    background-color: #fff;
  }
  
  .FilterContainer {
    display: flex;
    align-items: center;
  }
  
  .FilterContainer select {
    border: none;
    margin-right: 2rem;
    background-color: #effaf8;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .MainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
  }
  
  .DestinationCard {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .DestinationCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .Spans {
    margin-top: 10px;
  }
  
  .dname {
    font-size: 25px;
    font-weight: 900;
    color: green;
  }
  
  .label {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .label span {
    font-weight: normal;
  }


  
  