.fp {
    background-color: #ebfdfc;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
.fp::-webkit-scrollbar {
  width: 0.5em; 
}
  .fpItem{
    background-color: #fff;
    flex: 1;
    align-items:center;
    justify-content:center;
    gap: 10px;
    margin-bottom: 2rem;
    display:flex;
    border:1px solid #8080807e;
    border-radius:5px;
    text-align: start;
    flex-direction:column;
    min-width: 300px;
    cursor:pointer;
  }
  
  .fpImg{
    width: 100%;
    height: 200px;
    object-fit: fill;
  }
  
  .fpName{
    font-size:20px;
    color: #00ff6a;
    font-weight: bold;
  }
  
  .fpCity{
    font-weight: 300;
  }
  
  .fpPrice{
    font-weight: 500;
  }
  
  .fpRating>button{
    background-color: #e5ff00;
    color: #2600ff;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .fpRating>span{

    font-size: 14px;
  }