.MainBooking{
    height: 95%;
    width: 95%;
}
.add-user-button {
    float: right;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 2rem 5rem -10rem 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300s ease;
}

.add-tour-popup {
    border-radius: 10px;
    padding: 20px;
    background-color: #effafc;
    width: 400px;
    max-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    overflow-y: auto;
}

.add-tour-popup input,
.add-tour-popup textarea {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 10px;

}

.add-tour-popup textarea {
    position: relative;
}

.selection {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px #cec5c5;
    margin-bottom: 1rem;
    display: flex;
}


.add-tour-popup button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-tour-popup button:hover {
    background-color: #45a049;
}