.TopNav{
    align-items: center;
    display: flex;
    background-color: #2d9c7b;
    max-height: 50px;
    min-height: 50px;
    height: 15%;
    flex: 1;
    justify-content: flex-end;
    padding-right: 7rem;
}

