.UserNav{
    align-items: center;
    justify-content: space-between;   
    background-color: #1f864de7;
    height: 8%;
    display: flex;
    width: 100%;
    
}
.Logo{
  display:flex;
  font-weight: bold;
  height: 5rem;
  gap: 3rem;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  
}
.NavMenu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30rem;
  gap: 3rem;
  transition: none;
}
.NavMenuItem{
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content:space-between;

}


.NavMenuItem:hover{
  cursor: pointer;
}

.actives {
  margin-right: calc(3rem-18px);
  font-size: 18px;
  color: yellow;
}
.actives::before{
  content:'';
  width:4px;
  height:20px;
  background-color: #ff1414;
  margin-right: 5px;
  border-radius: 3px;
  
}
.Icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 3rem;
  color: #ccc2c2;
}
.Profile{
  align-items:center;
  justify-content:center;
  display: flex;
  margin-left: 2rem;
  &>span{
    font-size:18px;
  }
}