.MainContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 100%;
    background-color: #ebfdfc;
  
  }
  
  .listContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .listWrapper {
      width: 100%;
      max-width: 1024px;
      display: flex;
      top: 55px;
      gap: 2rem;
    }
    
    .listSearch {
      flex: 1;
      width: 400px;
      background-color: #97acc0;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 55px;
      height: max-content;
    }
    
    .lsTitle{
      font-size: 20px;
      color: #555;
      margin-bottom: 10px;
    }
    
    .lsItem{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
    }
    
    .lsItem>label{
      font-size: 12px;
    }
    
    .lsItem>input{
      
      height: 25px;
      border: none;
      outline: none;
      padding: 5px;
    }
    .lsItem>span{
      height: 30px;
      padding: 5px;
      background-color: white;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    .lsOptions{
      padding: 10px;
    }
    
    .lsOptionItem{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      color: #555;
      font-size: 12px;
    }
    
    .lsOptionInput{
      width: 100px;
      color: #1f1c1c;
      height: 30px;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #fff;
    }
    
    .listSearch>button{
      padding: 10px;
      background-color: #0071c2;
      color: white;
      border: none;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
    }
    
    .listResult {
      flex: 3;
    }