.HotelHome{
    display:grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 22rem auto;
    background-color: #fff;
    border-radius: 1rem;
}
.content {
  position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
   
}
.container{
    height: 95%;
    width: 98%;
    
}