.MainPackage{
    max-height: 600px;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.pcontainer{
  
    width: 94%;
    margin-top: 10px;
    align-items: center;
    border: 1px solid #80808070;
    justify-content: center;
    border-radius: 5px;
}
.pheaders{
    margin-top: 10px;
    height: 50px;
    width: 95%;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
}
.ptitle{
font-size: 20px;
font-family: serif;
color: greenyellow;
font-weight: bold;

}
.pbutton{
    padding: 10px;
    background-color: blue;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
.plist{
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* height: 100vh; */
}